body {
    background-color: #fcc1cb;
    font-family: 'Nunito', sans-serif;
}

a {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 200;
}

#navigationBar .navbar-brand {
    color: #c0261b;
    font-size: x-large;
}

#navigationBar {
    font-weight: 200;
}

#navigationBar .nav-link {
    color: white;
}

#navigationBar .nav-link:hover {
    color: #c0261b;
}

#headGroup span {
    color: #c0261b;
}

#headGroup h2{
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1250px) {
    #headGroup h2{
        font-size: 3rem;
    }
}

.first-paragraph h2 {
    color: #c0261b;
    font-weight: 100;
    font-size: 2.5rem;
}

.first-paragraph p {
    color: #d15c54;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 1.2;

}
section {
    margin-bottom: 80px;
}

.second-paragraph h2 {
    color: #c0261b;
    font-weight: 100;
    font-size: 2.5rem;
}

.second-paragraph p {
    color: #d15c54;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 1.2;
}

.third-paragraph h2 {
    color: #c0261b;
    font-weight: 100;
    font-size: 2.5rem;
}

.third-paragraph p {
    color: #d15c54;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 1.2;
}

.navbar.scrolled {
    background: rgb(141, 69, 141);
    transition: background 500ms;
}