body {
    background-color: #fcc1cb;
    font-family: 'Nunito', sans-serif;
}

a {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 200;
}

#navigationBar .navbar-brand {
    color: #c0261b;
    font-size: x-large;
}

#navigationBar {
    font-weight: 200;
}

#navigationBar .nav-link {
    color: white;
}

#navigationBar .nav-link:hover {
    color: #c0261b;
}

#headGroup span {
    color: #c0261b;
}

#headGroup h2{
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1250px) {
    #headGroup h2{
        font-size: 3rem;
    }
}